.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login Styling */
.login-container {
  border-radius: 25px;
  width: 60%;
  border: 15px solid #1f9ba7;
  padding: 30px;
  margin: auto;
  text-align: center;  
}

/* Image Styling */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  max-width: 100%;
  height: auto;
}


.container {
    /* remember to set a width */
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.homepage-description {
   padding-top: 50px;
   margin-right: auto;
    margin-left: auto;
    text-align: center;
}